CACHE.REDIS.PRIMARY.HOST=localhost
CACHE.REDIS.PRIMARY.PORT=6379
CACHE.REDIS.PRIMARY.PASSWORD=
CACHE.REDIS.PRIMARY.DB=0
CACHE.REDIS.EXPIRED.NEWS=10

DB.MYSQL.HOST=localhost
DB.MYSQL.PORT=3306
DB.MYSQL.NAME=news
DB.MYSQL.USER=root
DB.MYSQL.PASSWORD=
DB.MYSQL.TIMEZONE=UTC

SERVER.ENV=development
SERVER.LOG_LEVEL=info
SERVER.PORT=8000